<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xangos</title>
</head>
<body>
   <div id="menu">
        <ul>
              <li><a href="/pagina2">TAULA CLIENTS</a></li>  
              <li><a href="/selectProducte">TAULA PRODUCTES</a></li>  
              <li><a href="/selectVentes">TAULA VENTES</a></li>  
  
        </ul>
        <ul>
            <li><a href="/pagina3">INSERTAR CLIENTS</a></li>  
            <li><a href="/formulari_productes">INSERTAR PRODUCTES</a></li>  
            <li><a href="/formulari_ventes">INSERTAR VENTES</a></li>  

      </ul>
      <ul>
        <li><a href="/csvClients">Generar CSV Clients</a></li>
        <li><a href="/csvProductes">Generar CSV Productes</a></li>
        


      </ul>

   </div> 
</body>
</html>