<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/taula.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
     <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <title>Ventes</title>
</head>
<body>
   <h4>Taula Ventes</h4>
   <table id="IdTabla" class="taulaVentes">
 <thead>    
<tr>
   <th>ID_VENTA</th>
   <th>CODI_PRODUCTE</th>
   <th>ID_CLIENT</th>
</tr>     
</thead>
<tbody>
{% for item in ventes %} 
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
</tr>

{% endfor %}
</tbody>
   </table

</body>
<script>
 $(document).ready(function() {
           $('#IdTabla').DataTable({
             destroy: true,
             searching: true,
             responsive: true,
             language: {
               lengthMenu: "Veure _MENU_ registres",
               info: "Mostrant registres del _START_ al _END_ d'un total de _TOTAL_ registres",
               paginate: {
                 previous: "Previ",
                 next: "següent",
               }
             }

           });
         });
</script>
</html>